{% extends 'layout.html' %}
{% block head %}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}

{% endblock %}
{% block body %}
  <div class="jumbotron " id ="Welcome" style="opacity : 0.9">
  <div style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px;">
      <div style="color: #464EB8"><h2><i>Reaction</i></h2></div>
      <p>
          Take 1 mL of water extract or sodium carbonate extract acidified with acetic acid and add calcium chloride solution. A white precipitate insoluble in ammonium oxalate and oxalic acid solution but soluble in dilute hydrochloric acid and dilute nitric acid is formed.
          Take the precipitate from the above test and dissolve it in dilute H<sub>2</sub>SO<sub>4</sub> . Add very dilute solution of KMnO4 and warm. Colour of KMnO<sub>4</sub> solution is discharged.
      </p>
      <div style="color: #464EB8"><h2><i>Inference Observed</i></h2></div>
      <p>Pass the gas coming out through lime water. The lime water turns milky.</p>
      <div id = "clear">
      <h2 style="color: #464EB8" id="data">Is the Inference observed?</h2>
          <br>
          <button class="button2" style="font-size: 15px;padding: 12px;width: 100px;background-color: green" onclick="P1()"><span>Yes</span></button>
          <button class="button2" style="font-size: 15px;padding: 12px;width: 100px;background-color: red" onclick="P2()"><span>No</span></button>
          <br><br><br>
          <p style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px" id="para"></p>
          <script>
                a=document.getElementById("para");
                a.style.display="none";
                function P1(){
                    a.style.display="block";
                    a.style.border="5px solid green";
                    a.innerHTML="<b>(COONa)<sub>2</sub> +  H<sub>2</sub>SO<sub>4</sub> + Na<sub>2</sub>SO<sub>4</sub> + H<sub>2</sub>O + CO<sub>2</sub> + CO</b><br><br>" +
                    "From the above reaction the CO<sub>2</sub> liberated turns lime water milky. So anion is confirmed to be C<sub>2</sub>O<sub>4</sub><sup>2-</sup>."
                }
                function P2(){
                    a.style.display="block";
                    a.style.border="5px solid red";
                    a.innerHTML="Sorry! we can't find the anion in the salt.";
                }
          </script>
{#        <div style="padding-left: 70%" id ="blk1">#}
{#        <a href="/Referlab/anion/step2" id="blk11"><button class="button2" style="font-size: 15px;padding: 12px;width: 200px"><span>Go to Confirmatory Test</span></button></a>#}
{#        </div>#}
          <div style="padding-left: 70%" id ="blk2">
        <a href="/Referlab/salt" id="blk21"><button class="button2" style="font-size: 15px;padding: 12px;width: 200px"><span>Go to home</span></button></a>
        </div>

      </div>

  </div>
  </div>
{% endblock %}
