{% extends 'layout.html' %}
{% block head %}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}

{% endblock %}
{% block body %}
  <div class="jumbotron " id ="Welcome" style="opacity : 0.9">
  <div style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px;">
      <div style="color: #464EB8"><h2><i>Reaction</i></h2></div>
      <p>
          Take 0.1 g of salt in a test tube, add dilute sulphuric acid.
          CO<sub>2</sub> gas is evolved with brisk effervescence which turns lime water milky.
          On passing the gas for some more time.
      </p>
      <div style="color: #464EB8"><h2><i>Inference Observed</i></h2></div>
      <p>The milkiness of the solution disappeared.</p>
      <div id = "clear">
      <h2 style="color: #464EB8" id="data">Is the Inference observed?</h2>
          <br>
          <button class="button2" style="font-size: 15px;padding: 12px;width: 100px;background-color: green" onclick="P1()"><span>Yes</span></button>
          <button class="button2" style="font-size: 15px;padding: 12px;width: 100px;background-color: red" onclick="P2()"><span>No</span></button>
          <br><br><br>
          <p style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px" id="para"></p>
          <script>
                a=document.getElementById("para");
                a.style.display="none";
                function P1(){
                    a.style.display="block";
                    a.style.border="5px solid green";
                    a.innerHTML="<b>H<sub>2</sub>SO<sub>4</sub> + CO<sub>3</sub><sup>2-</sup> &#8594; CO<sub>2</sub> + H<sub>2</sub>O + SO<sub>4</sub><sup>2-</sup><br><br></b>" +
                        "The released CO<sub>2</sub> gas will turn lime water milky by the following reaction<br><br>" +"<b>Ca(OH)<sub>2</sub> + CO<sub>2</sub> &#8594; CaCO<sub>3</sub> + H<sub>2</sub>O</b><br><br>"+
                        "As the calcium corbonate is a white precipitate the lime water when reacted with CO<sub>2</sub> turned milky. "+
                        "On passing excess of CO<sub>2</sub> the following reaction occures<br><br>" +
                        "<b>CaCO<sub>3</sub> + H<sub>2</sub>O + CO<sub>2</sub> &#8594; Ca(HCO<sub>3</sub>)<sub>2</sub></b><br><br> " +
                        "As the formed calcium carbonate dissolved in excess CO<sub>2</sub>. It is confirmed that the anion is CO<sub>3</sub><sup>2-</sup>.";
                }
                function P2(){
                    a.style.display="block";
                    a.style.border="5px solid red";
                    a.innerHTML="Sorry! we can't find the anion in the salt.";
                }
          </script>
{#        <div style="padding-left: 70%" id ="blk1">#}
{#        <a href="/Referlab/anion/step2" id="blk11"><button class="button2" style="font-size: 15px;padding: 12px;width: 200px"><span>Go to Confirmatory Test</span></button></a>#}
{#        </div>#}
          <div style="padding-left: 70%" id ="blk2">
        <a href="/Referlab/salt" id="blk21"><button class="button2" style="font-size: 15px;padding: 12px;width: 200px"><span>Go to home</span></button></a>
        </div>

      </div>





  </div>
  </div>
{% endblock %}
