{% extends 'layout.html' %}
{% block head %}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}

{% endblock %}
{% block body %}
  <div class="jumbotron " id ="Welcome" style="opacity : 0.9">
  <div style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px;">
      <div style="color: #464EB8"><h2><i>Reaction</i></h2></div>
      <p>
          Take 1 mL water extract of the salt in water or sodium carbonate and after acidifying with dilute hydrochloric acid add BaCl<sub>2</sub> solution. White precipitate insoluble in conc. HCl or conc. HNO<sub>3</sub> is obtained.
Acidify the aqueous solution or sodium carbonate extract with acetic acid and add lead acetate solution.
      </p>
      <div style="color: #464EB8"><h2><i>Inference Observed</i></h2></div>
      <p>Appearance of white precipitate confirms the presence of sulphate ion.</p>
      <div id = "clear">
      <h2 style="color: #464EB8" id="data">Is the Inference observed?</h2>
          <br>
          <button class="button2" style="font-size: 15px;padding: 12px;width: 100px;background-color: green" onclick="P1()"><span>Yes</span></button>
          <button class="button2" style="font-size: 15px;padding: 12px;width: 100px;background-color: red" onclick="P2()"><span>No</span></button>
          <br><br><br>
          <p style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px" id="para"></p>
          <script>
                a=document.getElementById("para");
                a.style.display="none";
                function P1(){
                    a.style.display="block";
                    a.style.border="5px solid green";
                    a.innerHTML="<b>BaCl<sub>2</sub> + SO<sub>4</sub><sup>2-</sup> &#8594; BaSO<sub>4</sub> + 2Cl<sup>-</sup></b><br><br>" +
                        "The white precipitate formed due to the formation of barium sulphate.This confirms that the anion is SO<sub>4</sub><sup>2-</sup>.";
                }
                function P2(){
                    a.style.display="block";
                    a.style.border="5px solid red";
                    a.innerHTML="Sorry! we can't find the anion in the salt.";
                }
          </script>
{#        <div style="padding-left: 70%" id ="blk1">#}
{#        <a href="/Referlab/anion/step2" id="blk11"><button class="button2" style="font-size: 15px;padding: 12px;width: 200px"><span>Go to Confirmatory Test</span></button></a>#}
{#        </div>#}
          <hr style="height: 5px;border-width:0;color:#464EB8;background-color:#464EB8">
          <a href="/Referlab/anion/step3" id="blk21"><button class="button2" style="font-size: 15px;padding: 12px;width: 200px"><span>Go Back</span></button></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/Referlab/salt" id="blk21"><button class="button2" style="font-size: 15px;padding: 12px;width: 200px"><span>Go to home</span></button></a>


      </div>

  </div>
  </div>
{% endblock %}
