Flask==1.1.2
Flask-MySQLdb==0.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
click==7.1.2
itsdangerous==1.1.0
mysqlclient==2.0.3
passlib==1.7.4
pip==21.1.1
setuptools==56.1.0
wtf==0.1
WTForms==2.3.3