{% extends 'layout.html' %}
{% block body %}
  <link rel="stylesheet" href="{{ url_for('static',filename='anions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS1.css') }}">
    <div class="jumbotron" id ="Welcome" style="opacity : 0.9;width: 100%">
    <div style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px">
    <div class="container">
        <div class="images">
            <div class="image-gif">
                <div style="color: #464EB8"><h2><i>Reaction</i></h2></div>
                <img src="{{ url_for('static',filename='Cuco3_start.gif')}}" width="400px" height="210  px" id="giffy" >
            </div>
            <br><br><br><br><br><br>
            <div class="results-of-reaction">
                <div class="reaction">
                    <div style="color: #464EB8"><h4><i>Salt before reaction</i></h4></div>
                    <img src="{{ url_for('static',filename='CO3before.jpg')}}" style="width:100%" id="before">
                </div>
                <div class="reaction" id="bluff">
                    <div style="color: #464EB8" ><h4><i>Salt after reaction</i></h4></div>
                    <img src="{{ url_for('static',filename='CO3after.jpg')}}" style="width:100%;float: right" id="after">
                </div>
            </div>
        </div>
        <div class="icons">
            <div class="cursor" id="dilH2SO4">
                <img class="circular-icons" src="{{ url_for('static',filename='DilH2SO4.jpeg')}}"  width="150px" height="150px" onclick="open1()">
            </div>
            <div class="cursor" id="concHCl">
                <img class="circular-icons" src="{{ url_for('static',filename='ConcHCl.jpeg')}}" width="150px" height="150px" onclick="open2()">
            </div>
            <div class="cursor" id="concH2SO4">
                <img class="circular-icons" src="{{ url_for('static',filename='ConcH2SO4.jpeg')}}" width="150px" height="150px" onclick="open3()">
            </div>
             <div class="cursor" id="concHNO3">
                <img class="circular-icons" src="{{ url_for('static',filename='ConcHNO3.jpeg')}}" width="150px" height="150px" onclick="open4()">
            </div>
            </div>
        </div>
        <br><br><br><br><br>
        <h2 style="color: #464EB8" id="data">Reaction</h2>
        <p style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px" id="para"><p>
        <div style="padding-left: 70%">
        <a href="/ConfCO3"><button class="button2" style="font-size: 15px;padding: 12px;width: 200px"><span>Go to conformatory test</span></button></a>
        </div>
        <script src="{{url_for('static',filename='CO3.js')}}"></script>
    </div></div>
{% endblock %}