<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Virtual Labs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS1.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='step1.css') }}">
    <link rel = "icon" href ="{{ url_for('static',filename='tab.jpeg') }}" type = "image/x-icon" class="circular-icons">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
  </body>
</html>
