{% extends 'layout.html' %}
{% block head %}
{% endblock %}
{% block body %}

  <div class="jumbotron " id ="Welcome" style="opacity : 0.9">
  <div style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px;">
      <div style="color: #464EB8"><h2>Select the Anion based on the tests</h2></div>
      <!--<p>Select the ion you got</p>-->

      <!--<div style="color: #464EB8"><h2><i>Inference Observed</i></h2></div>-->
      
      <style>
      input[type=radio] {
        float: left;
      }

      label {
        margin-left: 30px;
        display: block;
       }
      </style>
      
      <form  style="font-size: 18px">
          <input type="radio" name="o" id ="x1" >
          <label for="x1" onclick="exec1(this.id)" id="1">Cl<sup>-</sup><h id = 'p1'>  &#10060 </h></label>
          <br><br>
          <input type="radio" name="o" id ="x2" >
          <label for="x2" onclick="exec1(this.id)" style="color: darkblue" id="2">CO<sub>3</sub><sup>-2</sup> <h id = 'p2'> &#10060 </h></label>
          <br><br>
          <input type="radio" name="o" id ="x3" >
          <label for="x3" onclick="exec1(this.id)" id="3">S<sup>2-</sup>  <h id = 'p3'>  &#10060</h></label>
          <br><br>
          <input type="radio" name="o" id ="x4" >
          <label for="x4" onclick="exec1(this.id)" style="color: darkblue" id="4">NO<sub>3</sub><sup>-1</sup>  <h id = 'p4'>  &#10060 </h></label>
          <br><br>
          <input type="radio" name="o" id ="x5" >
           <label for="x5" onclick="exec2(this.id)" id="5">SO<sub>4</sub><sup>2-</sup>  <h id = 'p5'>  &#9989 </h></label>
      </form>
      
      <div id = "out">
      <h2 style="color: #464EB8" id = "head">Details</h2>
        <p style="border: 5px solid green;border-radius: 15px;padding: 40px" id="text">Aqueous solution or sodium carbonate extract of the salt acidified with acetic acid on addition of barium chloride gives a white precipitate of
            barium sulphate insoluble in conc. HCl or conc. HNO3.
            <br><br>
            <b>Na<sub>2</sub>SO<sub>4</sub> + BaCl<sub>2</sub> → BaSO<sub>4</sub> + 2NaCl</b>
            <br><br>
            On treating sulphate with warm dil.
            H<sub>2</sub>SO<sub>4</sub>, SO<sub>2</sub> gas is evolved which is suffocating with the smell of burning sulphur.<br><br>
            <b>Na<sub>2</sub>SO<sub>3</sub> + H<sub>2</sub>SO<sub>4</sub> → Na<sub>2</sub>SO<sub>4</sub> + H<sub>2</sub>O + SO<sub>2</sub><br><br></b>
            The gas turns potassium dichromate paper acidified with dil. H<sub>2</sub>SO<sub>4</sub>, green.<br><br>
            <b>K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> + H<sub>2</sub>SO<sub>4</sub> + 3SO<sub>2</sub> → K<sub>2</sub>SO<sub>4</sub> + Cr<sub>2</sub>(SO<sub>4</sub>)<sub>3</sub> + H<sub>2</sub>O</b><br><br>
            Sulphate  ions give white precipitate of lead sulphate when aqueous
            solution or sodium carbonate extract neutralised with acetic acid is
            treated with lead acetate solution.<br><br>
            <b>Na<sub>2</sub>SO<sub>4</sub>  + (CH<sub>3</sub>COO)<sub>2</sub>Pb → PbSO<sub>4</sub>  + 2CH<sub>3</sub>COONa</b>
        </p>

        <div style="padding-left: 70%" id ="in">
        <a href="/Fe2SO43" >
        <button class="button2" style="font-size: 15px;padding: 12px;width: 200px">
        <span>Go to Home</span>
        </button>
        </a>
        </div>

      </div>
      
      <script>
      OUT = document.getElementById("out");
      OUT.style.dispaly = "none"; 
      TEXT = document.getElementById("text");
      TEXT.style.display = "none";
      HEAD = document.getElementById("head");
      HEAD.style.display = "none";
      IN = document.getElementById("in");
      IN.style.display = "none";
      for (var i=1;i<=5;i++) {
         document.getElementById("p"+i.toString()).style.display="none";
      }
      function exec2(id) {
          OUT.style.display = "block";
          TEXT.style.display = "block";
          HEAD.style.display = "block";
          IN.style.display = "block";
          TEXT.style.border="5px solid green"
          for (var i=1;i<=5;i++)
          {
             document.getElementById("p"+i.toString()).style.display="none";
          }
          document.getElementById("p"+id.toString()).style.display="inline";
      }
      
      function exec1(id) {
          OUT.style.display = "block";
          TEXT.style.display = "block";
          HEAD.style.display = "block";
          IN.style.display = "block";
          TEXT.style.border="5px solid red"
          for (var i=1;i<=5;i++)
          {
             document.getElementById("p"+i.toString()).style.display="none";
          }
          document.getElementById("p5").style.display="inline";
          document.getElementById('p'+id.toString()).style.display="inline";
      }
      </script>

  </div>
  </div>
{% endblock %}
