{% extends 'layout.html' %}
{% block head %}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}

{% endblock %}
{% block body %}

  <div class="jumbotron " id ="Welcome" style="opacity : 0.9">
  <div style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px;">
      <div style="color: #464EB8"><h2>Select the Anion based on the tests</h2></div>
      <!--<p>Select the ion you got</p>-->

      <!--<div style="color: #464EB8"><h2><i>Inference Observed</i></h2></div>-->
      
      <style>
      input[type=radio] {
        float: left;
      }

      label {
        margin-left: 30px;
        display: block;
       }
      </style>
      
      <form  style="font-size: 18px">
          <input type="radio" name="o" id ="x1" >
          <label for="x1" onclick="exec1(this.id)" id="1">Ba<sup>+2</sup><h id = 'p1'>  &#10060 </h></label>
          <br><br>
          <input type="radio" name="o" id ="x2" >
          <label for="x2" onclick="exec1(this.id)" style="color: darkblue" id="2">Zn<sup>+2</sup> <h id = 'p2'>  &#10060</h></label>
          <br><br>
          <input type="radio" name="o" id ="x3" >
          <label for="x3" onclick="exec1(this.id)" id="3">NH<sub>4</sub><sup>+</sup>  <h id = 'p3'>  &#10060</h></label>
          <br><br>
          <input type="radio" name="o" id ="x4" >
          <label for="x4" onclick="exec1(this.id)" style="color: darkblue" id="4">Fe<sup>+3</sup>  <h id = 'p4'>  &#10060 </h></label>
          <br><br>
          <input type="radio" name="o" id ="x5" >
           <label for="x5" onclick="exec2(this.id)" id="5">Cu<sup>+2</sup>  <h id = 'p5'>  &#9989 </h></label>
      </form>
      
      <div id = "out">
      
      <h2 style="color: #464EB8" id = "head">Details</h2>
        <p style="border: 5px solid green;border-radius: 15px;padding: 40px" id="text"></p>
        
        <div style="padding-left: 70%" id ="in">
        <a href="/CuCO3" >
        <button class="button2" style="font-size: 15px;padding: 12px;width: 200px">
        <span>Go to Home</span>
        </button>
        </a>
        </div>

      </div>
      
      <script>
      OUT = document.getElementById("out");
      OUT.style.dispaly = "none"; 
      TEXT = document.getElementById("text");
      TEXT.style.display = "none";
      HEAD = document.getElementById("head");
      HEAD.style.display = "none";
      IN = document.getElementById("in");
      IN.style.display = "none";
     
      for (var i=1;i<=5;i++)
      {
         document.getElementById("p"+i.toString()).style.display="none";
      }
      
      function exec2(id)
      {
          OUT.style.display = "block";
          TEXT.style.display = "block";
          HEAD.style.display = "block";
          IN.style.display = "block";
          TEXT.innerHTML = 'When H<sub>2</sub>S gas is passed through the original solution of the salt containing Cu<sup>+2</sup> ion, a white precipitate of CuS is observed.'+
'<p style="text-align: center;">'+
'<b>Cu<sup>+2</sup> + H<sub>2</sub>S &#8594; CuS&#8595; + 2H<sup>+</sup></b></p>'+
'Copper sulphide dissolves in nitric acid due to the formation of copper nitrate.'+
'<p style="text-align: center;"><b>3CuS + 8HNO<sub>3</sub> &#8594; 3Cu(NO<sub>3</sub>)<sub>2</sub> + 2NO + 3S + 4H<sub>2</sub>O</b></p>'+
'On heating the reaction mixture for long time, sulphur is oxidised to sulphate and copper sulphate is formed and the solution turns blue. A small amount of NH<sub>4</sub>OH precipitates basic copper sulphate which is soluble in excess of ammonium hydroxide due to the formation of tetraamminecopper (II) complex.'+
'<p style="text-align: center;">'+
'<b>S + 2HNO<sub>3</sub> &#8594; H<sub>2</sub>SO<sub>4</sub> + 2NO<br>'+
'2Cu<sup>+2</sup> + SO<sub>4</sub><sup>2-</sup> + 2NH<sub>3</sub> + 2H<sub>2</sub>O &#8594; Cu(OH)<sub>2</sub>.CuSO<sub>4</sub>&#8595; + 2NH<sub>4</sub><sup>+</sup><br>'+
'Cu(OH)<sub>2</sub>.CuSO<sub>4</sub> + 8NH<sub>3</sub> &#8594; 2[Cu(NH<sub>3</sub>)<sub>4</sub>]SO<sub>4</sub> + 2OH<sup>-</sup> + SO<sub>4</sub><sup>2-</sup></b></p>'+
'The blue solution on acidification with acetic acid and then adding potassium ferrocyanide [K4Fe(CN)6] solution gives a chocolate colouration due to the formation of copper ferrocyanide.'+
'<p style="text-align: center;">'+
'<b>[Cu(NH<sub>3</sub>)<sub>4</sub>]SO<sub>4</sub> + 4CH<sub>3</sub>COOH &#8594; CuSO<sub>4</sub> + 4CH<sub>3</sub>COONH<sub>4</sub><br>'+
'2CuSO<sub>4</sub> + K<sub>4</sub>[Fe(CN)<sub>6</sub>] &#8594; Cu<sub>2</sub>[Fe(CN)<sub>6</sub>]&#8595; (Brown ppt.) + 2K<sub>2</sub>SO<sub>4</sub></b></p>'
          TEXT.style.border="5px solid green"
          for (var i=1;i<=5;i++)
          {
             document.getElementById("p"+i.toString()).style.display="none";
          }
          document.getElementById("p"+id.toString()).style.display="inline";
      }
      
      function exec1(id)
      {
          OUT.style.display = "block";
          TEXT.style.display = "block";
          HEAD.style.display = "block";
          IN.style.display = "block";
          TEXT.innerHTML = 'When H<sub>2</sub>S gas is passed through the original solution of the salt containing Cu<sup>+2</sup> ion, a white precipitate of CuS is observed.'+
'<p style="text-align: center;">'+
'<b>Cu<sup>+2</sup> + H<sub>2</sub>S &#8594; CuS&#8595; + 2H<sup>+</sup></b></p>'+
'Copper sulphide dissolves in nitric acid due to the formation of copper nitrate.'+
'<p style="text-align: center;"><b>3CuS + 8HNO<sub>3</sub> &#8594; 3Cu(NO<sub>3</sub>)<sub>2</sub> + 2NO + 3S + 4H<sub>2</sub>O</b></p>'+
'On heating the reaction mixture for long time, sulphur is oxidised to sulphate and copper sulphate is formed and the solution turns blue. A small amount of NH<sub>4</sub>OH precipitates basic copper sulphate which is soluble in excess of ammonium hydroxide due to the formation of tetraamminecopper (II) complex.'+
'<p style="text-align: center;">'+
'<b>S + 2HNO<sub>3</sub> &#8594; H<sub>2</sub>SO<sub>4</sub> + 2NO<br>'+
'2Cu<sup>+2</sup> + SO<sub>4</sub><sup>2-</sup> + 2NH<sub>3</sub> + 2H<sub>2</sub>O &#8594; Cu(OH)<sub>2</sub>.CuSO<sub>4</sub>&#8595; + 2NH<sub>4</sub><sup>+</sup><br>'+
'Cu(OH)<sub>2</sub>.CuSO<sub>4</sub> + 8NH<sub>3</sub> &#8594; 2[Cu(NH<sub>3</sub>)<sub>4</sub>]SO<sub>4</sub> + 2OH<sup>-</sup> + SO<sub>4</sub><sup>2-</sup></b></p>'+
'The blue solution on acidification with acetic acid and then adding potassium ferrocyanide [K4Fe(CN)6] solution gives a chocolate colouration due to the formation of copper ferrocyanide.'+
'<p style="text-align: center;">'+
'<b>[Cu(NH<sub>3</sub>)<sub>4</sub>]SO<sub>4</sub> + 4CH<sub>3</sub>COOH &#8594; CuSO<sub>4</sub> + 4CH<sub>3</sub>COONH<sub>4</sub><br>'+
'2CuSO<sub>4</sub> + K<sub>4</sub>[Fe(CN)<sub>6</sub>] &#8594; Cu<sub>2</sub>[Fe(CN)<sub>6</sub>]&#8595; (Brown ppt.) + 2K<sub>2</sub>SO<sub>4</sub></b></p>'
          TEXT.style.border="5px solid red"
          for (var i=1;i<=5;i++)
          {
             document.getElementById("p"+i.toString()).style.display="none";
          }
          document.getElementById('p5').style.display="inline";
          document.getElementById('p'+id.toString()).style.display="inline";
      }
      
      </script>

  </div>
  </div>
{% endblock %}
