{% extends 'layout.html' %}
{% block head %}
{% endblock %}
{% block body %}

  <div class="jumbotron " id ="Welcome" style="opacity : 0.9">
  <div style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px;">
      <div style="color: #464EB8"><h2>Select the Anion based on the tests</h2></div>
      <!--<p>Select the ion you got</p>-->

      <!--<div style="color: #464EB8"><h2><i>Inference Observed</i></h2></div>-->
      
      <style>
      input[type=radio] {
        float: left;
      }

      label {
        margin-left: 30px;
        display: block;
       }
      </style>
      
      <form  style="font-size: 18px">
          <input type="radio" name="o" id ="x1" >
          <label for="x1" onclick="exec1(this.id)" id="1">Cl<sup>-</sup><h id = 'p1'>  &#10060 </h></label>
          <br><br>
          <input type="radio" name="o" id ="x2" >
          <label for="x2" onclick="exec1(this.id)" style="color: darkblue" id="2">CO<sub>3</sub><sup>-2</sup> <h id = 'p2'>  &#10060</h></label>
          <br><br>
          <input type="radio" name="o" id ="x3" >
          <label for="x3" onclick="exec2(this.id)" id="3">S<sup>2-</sup>  <h id = 'p3'>  &#9989</h></label>
          <br><br>
          <input type="radio" name="o" id ="x4" >
          <label for="x4" onclick="exec1(this.id)" style="color: darkblue" id="4">NO<sub>3</sub><sup>-1</sup>  <h id = 'p4'>  &#10060 </h></label>
          <br><br>
          <input type="radio" name="o" id ="x5" >
           <label for="x5" onclick="exec1(this.id)" id="5">SO<sub>4</sub><sup>2-</sup>  <h id = 'p5'>  &#10060 </h></label>
      </form>
      
      <div id = "out">
      
      <h2 style="color: #464EB8" id = "head">Details</h2>
        <p style="border: 5px solid green;border-radius: 15px;padding: 40px" id="text"></p>
        
        <div style="padding-left: 70%" id ="in">
        <a href="/ZnS" >
        <button class="button2" style="font-size: 15px;padding: 12px;width: 200px">
        <span>Go to Home</span>
        </button>
        </a>
        </div>

      </div>
      
      <script>
      OUT = document.getElementById("out");
      OUT.style.dispaly = "none"; 
      TEXT = document.getElementById("text");
      TEXT.style.display = "none";
      HEAD = document.getElementById("head");
      HEAD.style.display = "none";
      IN = document.getElementById("in");
      IN.style.display = "none";
     
      for (var i=1;i<=5;i++)
      {
         document.getElementById("p"+i.toString()).style.display="none";
      }
      
      function exec2(id)
      {
          OUT.style.display = "block";
          TEXT.style.display = "block";
          HEAD.style.display = "block";
          IN.style.display = "block";
          TEXT.innerHTML = 'With warm dilute H<sub>2</sub>SO<sub>4</sub>, a sulphide gives hydrogen sulphide gas which smells like rotten eggs. A piece of filter paper dipped in lead acetate solution turns black on exposure to the gas due to the formation of lead sulphide which is black in colour.'+
'<p style="text-align: center;">'+
'<b>S<sup>2-</sup> + H<sub>2</sub>SO<sub>4</sub> &#8594; SO<sub>4</sub><sup>2-</sup> + H<sub>2</sub>S&#8593;</b><br>'+
'<b>(CH<sub>3</sub>COO)<sub>2</sub>Pb + H<sub>2</sub>S &#8594; PbS (Black ppt.) + 2CH<sub>3</sub>COOH</b></p>'+
'If the salt is soluble in water, take the solution of salt in water make it alkaline with ammonium hydroxide and add sodium nitroprusside solution. If it is insoluble in water take sodium carbonate extract and add a few drops of sodium nitroprusside solution. Purple or violet colouration due to the formation of complex compound Na<sub>4</sub>[Fe(CN)<sub>5</sub>NOS] confirms the presence of sulphide ion in the salt.'+
'<p style="text-align: center;"><b>Na<sub>2</sub>S + Na<sub>2</sub>[Fe(CN)<sub>5</sub>NO] &#8594; Na<sub>4</sub>[Fe(CN)<sub>5</sub>NOS] (Purple color)</b></p>'

          TEXT.style.border="5px solid green"
          for (var i=1;i<=5;i++)
          {
             document.getElementById("p"+i.toString()).style.display="none";
          }
          document.getElementById("p"+id.toString()).style.display="inline";
      }
      
      function exec1(id)
      {
          OUT.style.display = "block";
          TEXT.style.display = "block";
          HEAD.style.display = "block";
          IN.style.display = "block";
          TEXT.innerHTML = 'With warm dilute H<sub>2</sub>SO<sub>4</sub>, a sulphide gives hydrogen sulphide gas which smells like rotten eggs. A piece of filter paper dipped in lead acetate solution turns black on exposure to the gas due to the formation of lead sulphide which is black in colour.'+
'<p style="text-align: center;">'+
'<b>S<sup>2-</sup> + H<sub>2</sub>SO<sub>4</sub> &#8594; SO<sub>4</sub><sup>2-</sup> + H<sub>2</sub>S&#8593;</b><br>'+
'<b>(CH<sub>3</sub>COO)<sub>2</sub>Pb + H<sub>2</sub>S &#8594; PbS (Black ppt.) + 2CH<sub>3</sub>COOH</b></p>'+
'If the salt is soluble in water, take the solution of salt in water make it alkaline with ammonium hydroxide and add sodium nitroprusside solution. If it is insoluble in water take sodium carbonate extract and add a few drops of sodium nitroprusside solution. Purple or violet colouration due to the formation of complex compound Na<sub>4</sub>[Fe(CN)<sub>5</sub>NOS] confirms the presence of sulphide ion in the salt.'+
'<p style="text-align: center;"><b>Na<sub>2</sub>S + Na<sub>2</sub>[Fe(CN)<sub>5</sub>NO] &#8594; Na<sub>4</sub>[Fe(CN)<sub>5</sub>NOS] (Purple color)</b></p>'
          TEXT.style.border="5px solid red"
          for (var i=1;i<=5;i++)
          {
             document.getElementById("p"+i.toString()).style.display="none";
          }
          document.getElementById("p3").style.display="inline";
          document.getElementById('p'+id.toString()).style.display="inline";
      }
      
      </script>

  </div>
  </div>
{% endblock %}
