{% extends 'layout.html' %}
{% block head %}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}

{% endblock %}
{% block body %}

  <div class="jumbotron " id ="Welcome" style="opacity : 0.9">
  <div style="border: 5px solid #464EB8;border-radius: 15px;padding: 40px;">
      <div style="color: #464EB8"><h2>Select the Cation based on the tests</h2></div>
      <!--<p>Select the ion you got</p>-->

      <!--<div style="color: #464EB8"><h2><i>Inference Observed</i></h2></div>-->
      
      <style>
      input[type=radio] {
        float: left;
      }

      label {
        margin-left: 30px;
        display: block;
       }
      </style>
      
      <form  style="font-size: 18px">
          <input type="radio" name="o" id ="x1" >
          <label for="x1" onclick="exec1(this.id)" id="1">Ba<sup>+2</sup><h id = 'p1'>  &#10060 </h></label>
          <br><br>
          <input type="radio" name="o" id ="x2" >
          <label for="x2" onclick="exec2(this.id)" style="color: darkblue" id="2">Zn<sup>+2</sup> <h id = 'p2'>  &#9989</h></label>
          <br><br>
          <input type="radio" name="o" id ="x3" >
          <label for="x3" onclick="exec1(this.id)" id="3">NH<sub>4</sub><sup>+</sup>  <h id = 'p3'>  &#10060</h></label>
          <br><br>
          <input type="radio" name="o" id ="x4" >
          <label for="x4" onclick="exec1(this.id)" style="color: darkblue" id="4">Fe<sup>+3</sup>  <h id = 'p4'>   &#10060</h></label>
          <br><br>
          <input type="radio" name="o" id ="x5" >
           <label for="x5" onclick="exec1(this.id)" id="5">Cu<sup>+2</sup>  <h id = 'p5'> &#10060  </h></label>
      </form>
      
      <div id = "out">
      
      <h2 style="color: #464EB8" id = "head">Details</h2>
        <p style="border: 5px solid green;border-radius: 15px;padding: 40px" id="text"></p>
        
        <div style="padding-left: 70%" id ="in">
        <a href="/ZnS" >
        <button class="button2" style="font-size: 15px;padding: 12px;width: 200px">
        <span>Go to Home</span>
        </button>
        </a>
        </div>

      </div>
      
      <script>
      OUT = document.getElementById("out");
      OUT.style.dispaly = "none"; 
      TEXT = document.getElementById("text");
      TEXT.style.display = "none";
      HEAD = document.getElementById("head");
      HEAD.style.display = "none";
      IN = document.getElementById("in");
      IN.style.display = "none";
     
      for (var i=1;i<=5;i++)
      {
         document.getElementById("p"+i.toString()).style.display="none";
      }
      
      function exec2(id)
      {
          OUT.style.display = "block";
          TEXT.style.display = "block";
          HEAD.style.display = "block";
          IN.style.display = "block";
          TEXT.innerHTML = 'Passing of H<sub>2</sub>S gas through the group III solution will precipitate Zn<sup>+2</sup> as its sulphide. Zinc sulphide dissolves in hydrochloric acid to form zinc chloride.'+
'<p style="text-align: center;">'+
'<b>Zn(OH)<sub>2</sub> + H<sub>2</sub>S &#8594; ZnS&#8595; (white ppt.) + H<sub>2</sub>O<br>'+
'ZnS + 2HCl &#8594; ZnCl<sub>2</sub> + H<sub>2</sub>S</b></p>'+
'On addition of sodium hydroxide solution it gives a white precipitate of zinc hydroxide, which is soluble in excess of NaOH solution on heating. This confirms the presence of Zn<sup>+2</sup> ions.'+
'<p style="text-align: center;">'+
'<b>ZnCl<sub>2</sub> + 2NaOH &#8594; Zn(OH)<sub>2</sub>&#8595; +2NaCl<br>'+
'Zn(OH)<sub>2</sub> + 2NaOH &#8594; Na<sub>2</sub>ZnO<sub>2</sub> + 2H<sub>2</sub>O</b></p>'+
'<b>Other confirmation tests:</b><br>'+
'When potassium ferrocyanide K<sub>4</sub>[Fe(CN)<sub>6</sub>] solution is added to the solution after neutralisation by NH<sub>4</sub>OH solution, a white or a bluish white precipitate of zinc ferrocyanide appears.'+
'<p style="text-align: center;">'+
'<b>2ZnCl<sub>2</sub> + K<sub>4</sub>[Fe(CN)<sub>6</sub>] &#8594; Zn<sub>2</sub>[Fe(CN)<sub>6</sub>]&#8595; + 4KCl</b></p>'
          TEXT.style.border="5px solid green"
          for (var i=1;i<=5;i++)
          {
             document.getElementById("p"+i.toString()).style.display="none";
          }
          document.getElementById("p"+id.toString()).style.display="inline";
      }
      
      function exec1(id)
      {
          OUT.style.display = "block";
          TEXT.style.display = "block";
          HEAD.style.display = "block";
          IN.style.display = "block";
           TEXT.innerHTML = 'Passing of H<sub>2</sub>S gas through the group III solution will precipitate Zn<sup>+2</sup> as its sulphide. Zinc sulphide dissolves in hydrochloric acid to form zinc chloride.'+
'<p style="text-align: center;">'+
'<b>Zn(OH)<sub>2</sub> + H<sub>2</sub>S &#8594; ZnS&#8595; (white ppt.) + H<sub>2</sub>O<br>'+
'ZnS + 2HCl &#8594; ZnCl<sub>2</sub> + H<sub>2</sub>S</b></p>'+
'On addition of sodium hydroxide solution it gives a white precipitate of zinc hydroxide, which is soluble in excess of NaOH solution on heating. This confirms the presence of Zn<sup>+2</sup> ions.'+
'<p style="text-align: center;">'+
'<b>ZnCl<sub>2</sub> + 2NaOH &#8594; Zn(OH)<sub>2</sub>&#8595; +2NaCl<br>'+
'Zn(OH)<sub>2</sub> + 2NaOH &#8594; Na<sub>2</sub>ZnO<sub>2</sub> + 2H<sub>2</sub>O</b></p>'+
'<b>Other confirmation tests:</b><br>'+
'When potassium ferrocyanide K<sub>4</sub>[Fe(CN)<sub>6</sub>] solution is added to the solution after neutralisation by NH<sub>4</sub>OH solution, a white or a bluish white precipitate of zinc ferrocyanide appears.'+
'<p style="text-align: center;">'+
'<b>2ZnCl<sub>2</sub> + K<sub>4</sub>[Fe(CN)<sub>6</sub>] &#8594; Zn<sub>2</sub>[Fe(CN)<sub>6</sub>]&#8595; + 4KCl</b></p>'
          TEXT.style.border="5px solid red"
          for (var i=1;i<=5;i++)
          {
             document.getElementById("p"+i.toString()).style.display="none";
          }
          document.getElementById("p2").style.display="inline";
          document.getElementById('p'+id.toString()).style.display="inline";
      }
      
      </script>

  </div>
  </div>
{% endblock %}
