<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tester</title>
    <style>
        #outer {
            display: flex;

        } #inner_fixed {
            height: 100px;
            flex-flow: row;
            width: 70%;
        } #inner_remaining {
            flex-grow : 1;
        }
    </style>
</head>
<body>
   <div id="outer">
       <div id="inner_fixed" style="background-color: blue">

        </div> <div id="inner_remaining" style="background-color: red">
</div> </div>

</body>
</html>